@mixin button-style($background, $color) {
  background: $background;
  color: $color;

  &:hover {
    background: darken($background, 5%);
    /* background: grayscale($background);
    background: desaturate($background, 10%);
    background: mix($background, blue); */
  }
}

.btn {
  width: 200px;
  padding: 10px 0;
  background: none;
  border: 0;
  border-radius: 10px;
  display: block;
  margin: 10px 0;

  &.btn-laranja {
    @include button-style($color-orange, #fff);
  }

  &.btn-roxo {
    @include button-style($color-purple, #fff);
  }

  &.btn-amarelo {
    @include button-style($color-yellow, #000);
  }
}